Repository drecioa/CodeGuard, pull requests merged in 2024-11, with the labels that each got.

#1 Data Base Configuration
  pom.xml
  src/main/java/es/tfg/codeguard/CodeGuardApplication.java
  src/main/java/es/tfg/codeguard/configuration/DataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/DeletedWizardsDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/PasswordDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/WizardDataSourceConfig.java
  src/main/resources/application.properties
  src/test/java/es/tfg/codeguard/dbtest/DataSourceConfigTest.java
Labels: New Feature, Data Base

#2 Feature User and Admin persistence
  pom.xml
  src/main/java/es/tfg/codeguard/controller/TestController.java
  src/main/java/es/tfg/codeguard/controller/impl/TestControllerImpl.java
  src/main/java/es/tfg/codeguard/model/entity/DeadWizard.java
  src/main/java/es/tfg/codeguard/model/entity/Elder.java
  src/main/java/es/tfg/codeguard/model/entity/Spell.java
  src/main/java/es/tfg/codeguard/model/entity/Wizard.java
  src/main/java/es/tfg/codeguard/model/entity/WizardPass.java
  src/main/java/es/tfg/codeguard/model/repository/DeadWizardRepository.java
  src/main/java/es/tfg/codeguard/model/repository/ElderRepository.java
  src/main/java/es/tfg/codeguard/model/repository/WizardPassRepository.java
  src/main/java/es/tfg/codeguard/model/repository/WizardRepository.java
  src/test/java/es/tfg/codeguard/model/entity/WizardPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/WizardTests.java
Labels: New Feature, Persistence

#5 Feature users admins service
  .mvn/wrapper/maven-wrapper.properties
  bin/.mvn/wrapper/maven-wrapper.properties
  bin/mvnw.cmd
  mvnw.cmd
  pom.xml
  src/main/java/es/tfg/codeguard/configuration/SecurityConfig.java
  src/main/java/es/tfg/codeguard/model/dto/PasswordWizardDTO.java
  src/main/java/es/tfg/codeguard/model/dto/WizardDTO.java
  src/main/java/es/tfg/codeguard/model/entity/Wizard.java
  src/main/java/es/tfg/codeguard/model/entity/WizardPass.java
  src/main/java/es/tfg/codeguard/service/ElderService.java
  src/main/java/es/tfg/codeguard/service/WizardService.java
  src/main/resources/application.properties
  src/test/java/es/tfg/codeguard/CodeGuardApplicationTests.java
  src/test/java/es/tfg/codeguard/model/entity/WizardPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/WizardTests.java
  src/test/java/es/tfg/codeguard/service/ElderServiceTests.java
  src/test/java/es/tfg/codeguard/service/WizardServiceTests.java
Labels: New Feature, service

#6 Fixes sprint 1
  src/main/java/es/tfg/codeguard/configuration/SecurityConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/DeletedUsersDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/PasswordDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/UserDataSourceConfig.java
  src/main/java/es/tfg/codeguard/model/dto/PasswordWizardDTO.java
  src/main/java/es/tfg/codeguard/model/dto/UserDTO.java
  src/main/java/es/tfg/codeguard/model/dto/UserPassDTO.java
  src/main/java/es/tfg/codeguard/model/dto/WizardDTO.java
  src/main/java/es/tfg/codeguard/model/entity/Admin.java
  src/main/java/es/tfg/codeguard/model/entity/DeadWizard.java
  src/main/java/es/tfg/codeguard/model/entity/DeletedUser.java
  src/main/java/es/tfg/codeguard/model/entity/Elder.java
  src/main/java/es/tfg/codeguard/model/entity/Exercise.java
  src/main/java/es/tfg/codeguard/model/entity/Spell.java
  src/main/java/es/tfg/codeguard/model/entity/User.java
  src/main/java/es/tfg/codeguard/model/entity/UserPass.java
  src/main/java/es/tfg/codeguard/model/entity/WizardPass.java
  src/main/java/es/tfg/codeguard/model/repository/AdminRepository.java
  src/main/java/es/tfg/codeguard/model/repository/DeletedUserRepository.java
  src/main/java/es/tfg/codeguard/model/repository/UserPassRepository.java
  src/main/java/es/tfg/codeguard/model/repository/UserRepository.java
  src/main/java/es/tfg/codeguard/service/AdminService.java
  src/main/java/es/tfg/codeguard/service/ElderService.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/WizardService.java
  src/main/java/es/tfg/codeguard/service/imp/AdminServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/main/resources/application.properties
  src/test/java/es/tfg/codeguard/CodeGuardApplicationTests.java
  src/test/java/es/tfg/codeguard/dbtest/DataSourceConfigTest.java
  src/test/java/es/tfg/codeguard/model/entity/UserPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/UserTests.java
  src/test/java/es/tfg/codeguard/model/entity/WizardPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/WizardTests.java
  src/test/java/es/tfg/codeguard/service/AdminServiceTests.java
  src/test/java/es/tfg/codeguard/service/ElderServiceTests.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
  src/test/java/es/tfg/codeguard/service/WizardServiceTests.java
Labels: Data Base, service, Persistence, Controller

#8 Final Fixes Sprint 1
  src/main/java/es/tfg/codeguard/CodeGuardApplication.java
  src/main/java/es/tfg/codeguard/components/DataIntializer.java
  src/main/java/es/tfg/codeguard/configuration/imp/DeletedUsersDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/PasswordDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/UserDataSourceConfig.java
  src/main/java/es/tfg/codeguard/model/dto/UserDTO.java
  src/main/java/es/tfg/codeguard/model/dto/UserPassDTO.java
  src/main/java/es/tfg/codeguard/model/entity/Admin.java
  src/main/java/es/tfg/codeguard/model/entity/Exercise.java
  src/main/java/es/tfg/codeguard/model/entity/deleteduser/DeletedUser.java
  src/main/java/es/tfg/codeguard/model/entity/user/User.java
  src/main/java/es/tfg/codeguard/model/entity/userpass/UserPass.java
  src/main/java/es/tfg/codeguard/model/repository/AdminRepository.java
  src/main/java/es/tfg/codeguard/model/repository/deleteduser/DeletedUserRepository.java
  src/main/java/es/tfg/codeguard/model/repository/user/UserRepository.java
  src/main/java/es/tfg/codeguard/model/repository/userpass/UserPassRepository.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/imp/AdminServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/test/java/es/tfg/codeguard/model/entity/UserPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/UserTests.java
  src/test/java/es/tfg/codeguard/service/AdminServiceTests.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
Labels: documentation, Data Base, service, Persistence

#9 Feature user admin controller
  pom.xml
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/LoginController.java
  src/main/java/es/tfg/codeguard/controller/RegisterController.java
  src/main/java/es/tfg/codeguard/controller/UserController.java
  src/main/java/es/tfg/codeguard/controller/imp/AdminControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/LoginControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/RegisterControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/UserControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/UserDTO.java
  src/main/java/es/tfg/codeguard/service/LoginService.java
  src/main/java/es/tfg/codeguard/service/imp/LoginServiceImp.java
  src/main/java/es/tfg/codeguard/web/config/SwaggerConfig.java
  src/main/resources/application.properties
  src/test/java/es/tfg/codeguard/controller/AdminControllerTests.java
  src/test/java/es/tfg/codeguard/controller/LoginControllerTest.java
  src/test/java/es/tfg/codeguard/controller/RegisterControllerTest.java
  src/test/java/es/tfg/codeguard/controller/UserControllerTests.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
Labels: documentation, New Feature, Controller

#10 Feature security session
  pom.xml
  src/main/java/es/tfg/codeguard/configuration/SecurityConfig.java
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/LoginController.java
  src/main/java/es/tfg/codeguard/controller/RegisterController.java
  src/main/java/es/tfg/codeguard/controller/UserController.java
  src/main/java/es/tfg/codeguard/controller/imp/LoginControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/MainController.java
  src/main/java/es/tfg/codeguard/controller/imp/RegisterControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/UserControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/JsonParserUserPassDTO.java
  src/main/java/es/tfg/codeguard/model/repository/userpass/UserPassRepository.java
  src/main/java/es/tfg/codeguard/service/LoginService.java
  src/main/java/es/tfg/codeguard/service/LoginUserDetailsService.java
  src/main/java/es/tfg/codeguard/service/RegisterService.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/imp/LoginServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/LoginUserDetailsServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/RegisterServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/main/java/es/tfg/codeguard/util/UsernameNotValid.java
  src/main/resources/application.properties
  src/test/java/es/tfg/codeguard/controller/LoginControllerTest.java
  src/test/java/es/tfg/codeguard/controller/RegisterControllerTest.java
  src/test/java/es/tfg/codeguard/service/RegisterServiceTest.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
Labels: documentation, New Feature, service, Controller, Security, Session, Login/Logout

#13 Feature-external-api
  pom.xml
  src/main/java/es/tfg/codeguard/components/DataIntializer.java
  src/main/java/es/tfg/codeguard/components/ExternalAPIGetter.java
  src/main/java/es/tfg/codeguard/configuration/DataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/JWTRequestFilter.java
  src/main/java/es/tfg/codeguard/configuration/SecurityConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/DeletedUsersDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/ExercisesDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/PasswordDataSourceConfig.java
  src/main/java/es/tfg/codeguard/configuration/imp/UserDataSourceConfig.java
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/LoginController.java
  src/main/java/es/tfg/codeguard/controller/RegisterController.java
  src/main/java/es/tfg/codeguard/controller/UserController.java
  src/main/java/es/tfg/codeguard/controller/imp/AdminControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/LoginControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/MainController.java
  src/main/java/es/tfg/codeguard/controller/imp/RegisterControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/UserControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/AuthDTO.java
  src/main/java/es/tfg/codeguard/model/dto/ExerciseDTO.java
  src/main/java/es/tfg/codeguard/model/dto/JsonParserUserPassDTO.java
  src/main/java/es/tfg/codeguard/model/dto/SolutionDTO.java
  src/main/java/es/tfg/codeguard/model/dto/UserDTO.java
  src/main/java/es/tfg/codeguard/model/entity/deleteduser/DeletedUser.java
  src/main/java/es/tfg/codeguard/model/entity/exercise/Exercise.java
  src/main/java/es/tfg/codeguard/model/entity/user/Admin.java
  src/main/java/es/tfg/codeguard/model/entity/user/User.java
  src/main/java/es/tfg/codeguard/model/entity/userpass/UserPass.java
  src/main/java/es/tfg/codeguard/model/repository/deleteduser/DeletedUserRepository.java
  src/main/java/es/tfg/codeguard/model/repository/exercise/ExerciseRepository.java
  src/main/java/es/tfg/codeguard/model/repository/user/UserRepository.java
  src/main/java/es/tfg/codeguard/model/repository/userpass/UserPassRepository.java
  src/main/java/es/tfg/codeguard/service/AdminService.java
  src/main/java/es/tfg/codeguard/service/ExternalAPIService.java
  src/main/java/es/tfg/codeguard/service/LoginService.java
  src/main/java/es/tfg/codeguard/service/LoginUserDetailsService.java
  src/main/java/es/tfg/codeguard/service/RegisterService.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/imp/AdminServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/CodeWarsAPIService.java
  src/main/java/es/tfg/codeguard/service/imp/JWTServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/LoginServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/LoginUserDetailsServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/ProjectEulerAPIService.java
  src/main/java/es/tfg/codeguard/service/imp/RegisterServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/test/java/es/tfg/codeguard/controller/AdminControllerTests.java
  src/test/java/es/tfg/codeguard/controller/RegisterControllerTest.java
  src/test/java/es/tfg/codeguard/controller/UserControllerTests.java
  src/test/java/es/tfg/codeguard/dbtest/DataSourceConfigTest.java
  src/test/java/es/tfg/codeguard/model/entity/ExerciseTests.java
  src/test/java/es/tfg/codeguard/model/entity/UserPassTests.java
  src/test/java/es/tfg/codeguard/model/entity/UserTests.java
  src/test/java/es/tfg/codeguard/service/RegisterServiceTest.java
Labels: New Feature, Data Base, service, Controller, External API

#16 Feaute custom exceptions
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/RegisterController.java
  src/main/java/es/tfg/codeguard/controller/UserController.java
  src/main/java/es/tfg/codeguard/controller/imp/AdminControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/ExerciseControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/LoginControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/RegisterControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/UserControllerImp.java
  src/main/java/es/tfg/codeguard/model/entity/exercise/Exercise.java
  src/main/java/es/tfg/codeguard/model/entity/userpass/UserPass.java
  src/main/java/es/tfg/codeguard/service/AdminService.java
  src/main/java/es/tfg/codeguard/service/ExerciseService.java
  src/main/java/es/tfg/codeguard/service/LoginService.java
  src/main/java/es/tfg/codeguard/service/RegisterService.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/imp/AdminServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/ExerciseServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/LoginServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/RegisterServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/main/java/es/tfg/codeguard/util/ExerciseDescriptionNotValid.java
  src/main/java/es/tfg/codeguard/util/ExerciseNotFoundException.java
  src/main/java/es/tfg/codeguard/util/ExerciseSolutionNotValidException.java
  src/main/java/es/tfg/codeguard/util/ExerciseTitleNotValidException.java
  src/main/java/es/tfg/codeguard/util/IncorrectPasswordException.java
  src/main/java/es/tfg/codeguard/util/PasswordNotValidException.java
  src/main/java/es/tfg/codeguard/util/UserNotFoundException.java
  src/main/java/es/tfg/codeguard/util/UsernameInUseException.java
  src/test/java/es/tfg/codeguard/controller/AdminControllerTests.java
  src/test/java/es/tfg/codeguard/controller/ExerciseControllerTest.java
  src/test/java/es/tfg/codeguard/controller/RegisterControllerTest.java
  src/test/java/es/tfg/codeguard/controller/UserControllerTests.java
  src/test/java/es/tfg/codeguard/model/entity/ExerciseTests.java
  src/test/java/es/tfg/codeguard/model/entity/UserPassTests.java
  src/test/java/es/tfg/codeguard/service/AdminServiceTests.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
  src/test/java/es/tfg/codeguard/service/RegisterServiceTest.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
Labels: New Feature, service, Controller

#17 Ampliation service
  src/main/java/es/tfg/codeguard/controller/ExerciseController.java
  src/main/java/es/tfg/codeguard/controller/imp/ExerciseControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/ExerciseDTO.java
  src/main/java/es/tfg/codeguard/model/dto/SolutionDTO.java
  src/main/java/es/tfg/codeguard/model/entity/exercise/Exercise.java
  src/main/java/es/tfg/codeguard/service/ExerciseService.java
  src/main/java/es/tfg/codeguard/service/imp/ExerciseServiceImp.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
Labels: service, Persistence, Controller, Bugfixing

#18 Feature pageable implementation
  pom.xml
  src/main/java/es/tfg/codeguard/controller/ExerciseController.java
  src/main/java/es/tfg/codeguard/controller/imp/ExerciseControllerImp.java
  src/main/java/es/tfg/codeguard/model/repository/exercise/ExerciseRepository.java
  src/main/java/es/tfg/codeguard/model/repository/user/UserRepository.java
  src/main/java/es/tfg/codeguard/service/ExerciseService.java
  src/main/java/es/tfg/codeguard/service/imp/ExerciseServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/LoginServiceImp.java
  src/test/java/es/tfg/codeguard/controller/ExerciseControllerTest.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
Labels: service, Persistence, Controller

#19 Finally added Compiling to the app
  lib/junit-jupiter-api-5.11.0.jar
  lib/junit-platform-console-standalone-1.11.3.jar
  src/main/java/es/tfg/codeguard/components/DataIntializer.java
  src/main/java/es/tfg/codeguard/controller/CompilationController.java
  src/main/java/es/tfg/codeguard/controller/imp/CompilationControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/CompilerRequestDTO.java
  src/main/java/es/tfg/codeguard/model/dto/CompilerResponseDTO.java
  src/main/java/es/tfg/codeguard/model/dto/CompilerTestRequestDTO.java
  src/main/java/es/tfg/codeguard/model/dto/ExerciseDTO.java
  src/main/java/es/tfg/codeguard/model/entity/exercise/Exercise.java
  src/main/java/es/tfg/codeguard/model/entity/user/User.java
  src/main/java/es/tfg/codeguard/service/CompilerService.java
  src/main/java/es/tfg/codeguard/service/ExerciseService.java
  src/main/java/es/tfg/codeguard/service/imp/CompilerServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/ExerciseServiceImp.java
  src/main/java/es/tfg/codeguard/util/CompilationErrorException.java
  src/main/java/es/tfg/codeguard/util/PlaceholderNotFoundException.java
  src/main/java/es/tfg/codeguard/util/TestCasesNotFoundException.java
  src/main/java/es/tfg/codeguard/web/config/SwaggerConfig.java
  src/test/java/es/tfg/codeguard/controller/CompilerControllerTests.java
  src/test/java/es/tfg/codeguard/controller/TestCompilerControllerTests.java
  src/test/java/es/tfg/codeguard/model/entity/ExerciseTests.java
  src/test/java/es/tfg/codeguard/service/CompilerServiceTests.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
  src/test/java/es/tfg/codeguard/service/TestCompilerServiceTests.java
Labels: documentation, New Feature, service, Controller, Session

#20 Feature roles management controller
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/imp/AdminControllerImp.java
  src/test/java/es/tfg/codeguard/controller/AdminControllerTests.java
Labels: New Feature, Controller

#21 Feature roles management controller
  src/main/java/es/tfg/codeguard/configuration/JWTRequestFilter.java
  src/main/java/es/tfg/codeguard/controller/AdminController.java
  src/main/java/es/tfg/codeguard/controller/UserController.java
  src/main/java/es/tfg/codeguard/controller/imp/AdminControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/LoginControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/RegisterControllerImp.java
  src/main/java/es/tfg/codeguard/controller/imp/UserControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/ChangePasswordDTO.java
  src/main/java/es/tfg/codeguard/model/dto/UserPrivilegesDTO.java
  src/main/java/es/tfg/codeguard/service/AdminService.java
  src/main/java/es/tfg/codeguard/service/UserService.java
  src/main/java/es/tfg/codeguard/service/imp/AdminServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/RegisterServiceImp.java
  src/main/java/es/tfg/codeguard/service/imp/UserServiceImp.java
  src/main/java/es/tfg/codeguard/util/UsernameAlreadyExistException.java
  src/main/java/es/tfg/codeguard/util/UsernameInUseException.java
  src/test/java/es/tfg/codeguard/controller/AdminControllerTests.java
  src/test/java/es/tfg/codeguard/controller/CompilerControllerTests.java
  src/test/java/es/tfg/codeguard/controller/ExerciseControllerTest.java
  src/test/java/es/tfg/codeguard/controller/RegisterControllerTest.java
  src/test/java/es/tfg/codeguard/controller/TestCompilerControllerTests.java
  src/test/java/es/tfg/codeguard/controller/UserControllerTests.java
  src/test/java/es/tfg/codeguard/service/AdminServiceTests.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
  src/test/java/es/tfg/codeguard/service/RegisterServiceTest.java
  src/test/java/es/tfg/codeguard/service/TestCompilerServiceTests.java
  src/test/java/es/tfg/codeguard/service/UserServiceTests.java
Labels: New Feature, service, Controller

#22 Feature create exercise controller service
  src/main/java/es/tfg/codeguard/controller/ExerciseController.java
  src/main/java/es/tfg/codeguard/controller/imp/ExerciseControllerImp.java
  src/main/java/es/tfg/codeguard/model/dto/CreateExerciseDTO.java
  src/main/java/es/tfg/codeguard/service/ExerciseService.java
  src/main/java/es/tfg/codeguard/service/imp/ExerciseServiceImp.java
  src/main/java/es/tfg/codeguard/util/ExerciseAlreadyExistException.java
  src/test/java/es/tfg/codeguard/controller/ExerciseControllerTest.java
  src/test/java/es/tfg/codeguard/service/ExerciseServiceTest.java
Labels: New Feature, service, Controller
